.Footer {
  text-align: center;
}

.Footer-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Footer-logo {
    animation: Footer-logo-spin infinite 60s linear 10s;
  }
}

.Footer-header {
  background-color: #ff751a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer-link {
  color: #61dafb;
}

@keyframes Footer-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
